<!-- PAGE: PROCESS VIDEO -->
<div id="page-process" class="page proc-wizard">

  {% include 'pages/process/styles.html' %}
  {% include 'pages/process/wizard_nav.html' %}
  {% include 'pages/process/wizard_footer.html' %}
  {% include 'pages/process/step2_edit.html' %}
  {% include 'pages/process/step1_source.html' %}
  {% include 'pages/process/step3_ai.html' %}
  {% include 'pages/process/step4_publish.html' %}
  {% include 'pages/process/step5_run.html' %}
  {% include 'pages/process/scripts.html' %}

</div>
